<% if flash[:register_success]%>
  <script>
      alert("注册成功，点击返回登录页面");
      window.location.href="/sessions/new"
  </script>
<% end %>
<h1 align="center" style="color: #FFFFFF">注册</h1>
<%= simple_form_for @user, url: :register_create do |f| %>
  <div class="col-sm-4"></div>
  <div class="col-sm-4">
    <%= f.input :username,label:"请输入用户名" ,placeholder:"用户名长度不得长于20位字母或数字"%>
    <%= f.input :password,label:"请输入密码" ,placeholder:"密码长度不得短于6位字母或数字"%>
    <%= f.input :password_confirmation,label:"确认密码"%>
    <%= f.input :email ,label:"请输入邮箱"%>
    <div class="div1">
      <button class="btn btn-primary btn-lg" type="submit"><span class="glyphicon glyphicon-edit"></span> 注册</button>
      <a href="/sessions/new" class="btn btn-primary btn-lg" style="margin-left:256px"><span class="glyphicon glyphicon-backward"></span> 返回登录</a>
    </div>

  </div>
  <div class="col-sm-4"></div>

<% end %>
