<!DOCTYPE html>
<html lang="zxx" class="no-js">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Favicon-->
  <link rel="shortcut icon" href="/assets/images/fav.png">
  <!-- Author Meta -->
  <meta name="author" content="codepixer">
  <!-- Meta Description -->
  <meta name="description" content="">
  <!-- Meta Keyword -->
  <meta name="keywords" content="">
  <!-- meta character set -->
  <meta charset="UTF-8">
  <!-- Site Title -->
  <title>Stock</title>
  <%= stylesheet_link_tag   'css/linearicons' ,media: 'all' %>
  <%= stylesheet_link_tag   'css/font-awesome.min',media: 'all' %>
  <%= stylesheet_link_tag   'css/magnific-popup' ,media: 'all'%>
  <%= stylesheet_link_tag   'css/nice-select' ,media: 'all'%>
  <%= stylesheet_link_tag   'css/animate.min' ,media: 'all'%>
  <%= stylesheet_link_tag   'css/owl.carousel' ,media: 'all'%>
  <%= stylesheet_link_tag   'css/main' ,media: 'all'%>
  <%= stylesheet_link_tag   'css/bootstrap' ,media: 'all'%>
  <%= stylesheet_link_tag   'css/self' ,media: 'all'%>
  <%= stylesheet_link_tag   'css/zhenduan' ,media: 'all'%>

  <%= javascript_include_tag 'js/vendor/jquery-2.2.4.min.js' %>
  <%= javascript_include_tag 'js/vendor/bootstrap.min.js' %>
  <%= javascript_include_tag 'js/easing.min.js' %>
  <%= javascript_include_tag 'js/hoverIntent.js' %>
  <%= javascript_include_tag 'js/superfish.min.js' %>
  <%= javascript_include_tag 'js/jquery.ajaxchimp.min.js' %>
  <%= javascript_include_tag 'js/jquery.magnific-popup.min.js' %>
  <%= javascript_include_tag 'js/owl.carousel.min.js' %>
  <%= javascript_include_tag 'js/owl-carousel-thumb.min.js' %>
  <%= javascript_include_tag 'js/jquery.sticky.js' %>
  <%= javascript_include_tag 'js/jquery.nice-select.min.js' %>
  <%= javascript_include_tag 'js/parallax.min.js' %>
  <%= javascript_include_tag 'js/waypoints.min.js' %>
  <%= javascript_include_tag 'js/wow.min.js' %>
  <%= javascript_include_tag 'js/jquery.counterup.min.js' %>
  <%= javascript_include_tag 'js/mail-script.js' %>
  <%= javascript_include_tag 'js/main.js' %>
  <%= javascript_include_tag 'js/jquery-1.8.3.min.js' %>
  <%= javascript_include_tag 'js/highcharts.js' %>
  <%= javascript_include_tag 'js/exporting.js' %>
  <%= javascript_include_tag 'js/oldie.js' %>
  <%= javascript_include_tag 'js/highcharts-zh_CN.js' %>
  <%= javascript_include_tag 'js/highcharts-more.js' %>
</head>
<body>
<%=yield %>
</body>
</html>